

nav{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    width: 100%;
    

}
nav a{
    display:flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 70%;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration:none;
    font-family:'Times New Roman', Times, serif;
    z-index:+1;
   margin-left: 170px;
   margin-right: 170px;
   margin-top: 20px;
   margin-bottom: 20px;
    text-align: center;
    font-size: 25px;;

    
    


}
#sahil:hover{
    background-color: white;
    color:black;
}
.link{
    color: rgb(0, 0, 0);
}
.link-active {
    color:rgb(255, 255, 255);
    background-color:rgb(252, 169, 16);
}
.content{
    
   
    text-align: center;
    width: 100%;
   

}
.name{
    margin-left: 500px;
    margin-right: 500px;
}
body{
    background-color:#ffc86f;

}
.back1{
    background-color: white;
}



#contact{
    position: relative;
   
}

#contact::before{
       
       background: url("image/contact.jpg");
        
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
   
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 8px;
    border-radius: 9px;
    font-size: 17.6px;
}
#contact-box label{
    font-size: 20.8px;
    font-family:'Bree Serif', serif;
   
}

contact-box form{
    width: 20%;
}

button{
    border-radius: 9px;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    margin-top: 12px;
}
